{% extends "/CmatrixWeb/templates/comlogin.twig" %}

{% block main %}
    <div class="h-full w-full flex">
        <h1 class="m-auto">Страница <b>{{ page.url }}</b> не найдена.</h1>
    </div>
{% endblock %}