{% extends "/CmatrixWeb/templates/adminCommon.twig" %}

{% block style %}
    {{ parent() }}
    {# <link rel="stylesheet/less" type="text/css" href="res/CmatrixWeb/adminDataEntityView.less"/> #}
    <link rel="stylesheet/less" type="text/css" href="res/CmatrixWeb/lib/table.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/CmatrixWeb/adminDataEntityView.js"></script>
{% endblock %}

{% block main %}
    {# {% import "/CmatrixWeb/templates/lib/tree.twig" as _tree %} #}
    {% import "/CmatrixWeb/templates/lib/table.twig" as _table %}
    
    {{ parent() }}
    <div class="container mx-auto h-full">
        {{ _table.table('wi-table-entity',datamodel) }}
    </div>
    
{% endblock %}