{% extends "/CmatrixWeb/templates/commonLogin.twig" %}

{% block error %}
    {% if error|length %}
        <div class="cm-error">
            {%for e in error %}
                <div>{{ e|raw }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    {{ parent() }}
    
    {% if session.user.lk != true %}<div class="wi-need-login"></div>{% endif %}
{% endblock %}