{% extends "common.twig" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="res/res/login.less"/>
{% endblock %}

{% block js %}
    <script type="module" src="res/res/login.js"></script>
{% endblock %}

{% block main %}
<div class="flex flex-col h-full">
    <div class="bg-gray-300 _mb-auto flex-1">
        <div class="container mx-auto ">
        </div>
    </div>
    <div class="bg-gray-400 h-2/4 _mt-auto">
        <div class="container mx-auto ">
        </div>
    </div>
    <div class="fixed top-0 bottom-0 left-0 right-0 bg-gray-200 bg-opacity-50 flex z-50">
        <div class="relative m-auto flex flex-col pt-10 pb-3 px-6 sm:px-12 bg-blue-400 bg-opacity-90">
            <span class="cm-hover absolute p-3 top-0 right-0 cursor-pointer"><i class="text-white fas fa-times"></i></span>
            
            <input class="px-3 py-1 w-52 sm:w-72" name="user" placeholder="Логин"/>
            <span class="cm-err mb-3 h-4 text-red-600 text-sm">qwewqeqwe</span>
            
            <input class="px-3 py-1 w-52 sm:w-72" name="pass" placeholder="Пароль"/>
            <span class="cm-err mb-3 h-4 text-red-600 text-sm">qwewqeqwe</span>
            
            <button class="mb-3 cm-hover mt-5 w-20 mx-auto px-3 py-1.5 text-white bg-blue-500">Войти</button>
        </div>
    </div>
</div>
{% endblock %}
