{% extends "common.twig" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="res/res/login.less"/>
{% endblock %}

{% block js %}
    <script type="module" src="res/res/login.js"></script>
{% endblock %}

{% block main %}
<div class="flex flex-col h-full">
    <div class="bg-gray-300 _mb-auto flex-1">
        <div class="container mx-auto ">
            qweqwe
        </div>
    </div>
    <div class="bg-gray-400 h-56 _mt-auto">
        <div class="container mx-auto ">
            аууца
        </div>
    </div>
</div>
{% endblock %}
