{% extends "/TildaTool/templates/tildaCommon.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="res/CmatrixWeb/lib/table.less"/>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="module" src="res/CmatrixWeb/adminDataEntityView.js"></script>
{% endblock %}

{% block main %}
    {% import "/CmatrixWeb/templates/lib/table.twig" as _table %}
    {{ parent() }}
    
    <div class="container mx-auto h-full flex">
        {#<div class="w-50 flex-shrink0">
            <div>111111</div>
            <div>222222222222</div>
            <div>3</div>
            <div>4</div>
            <div>5555555555555</div>
        </div>#}
        <div class="overflow-auto">
            {{ _table.table('wi-table-entity',table) }}
        </div>
    </div>
{% endblock %}