input[required="required"] {
    background-color : #ffffde;
    
    &.cm-invalid{
        outline: 2px solid red;
        background-color: #ffecec
    }
}

/*input:invalid {
    outline: 2px solid red;
}*/